.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
}

@media screen and (max-width:768px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width:320px) {
  .place__title {
    font-size: 32px;
  }
}
