.place__image {
  object-fit: cover;
  max-width: 460px;
  width: 100%;
  box-sizing: border-box;
  grid-row: 2/3;
   
}
@media screen and (max-width:320px) {
  .place__image {
    max-width: 320px;
    
  } 
}
