.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 48px 56px;
  

}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
  }

}

@media screen and (max-width: 720px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
  }

}
