.place__text {
  display: grid;
  grid-template: repeat(2, min-content)/1fr;
  row-gap: 26px;
}

@media screen and (max-width:1024px) {
  .place__text {
    row-gap: 27px;
  }
}

@media screen and (max-width:768px) {
  .place__text {
    row-gap: 25px;

  }
}
