.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  
  margin-top: 40px;
  margin-bottom: 33px;
  
}
@media screen and (max-width:320px) {
  .intro__text{
    margin-bottom: 34px;

  }
}
