.lead__caption {
  
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 158px;
  max-width: 100%;
  
  

}

/*@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 48px;
    margin-right: 818px;
  }

}*/

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    margin-right: 586px;
    
  }

}




@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
    margin-right: 146px;
  }

}
