.place {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 48px 40px;
  padding-top: 80px;


}

.place:first-child {
  padding-top: 0;
}

@media screen and (max-width:1024px) {
  .place {
    column-gap: 32px;
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
  }
}

@media screen and (max-width:768px) {
  .place {
    column-gap: 28px;
    padding-top: 73px;
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
  }
}

@media screen and (max-width:450px) {
  .place {
    grid-template-columns: 1fr;
    padding-top: 50px;
    row-gap: 32px;
    
}
}
@media screen and (max-width:320px) {
  .place {
    grid-template-columns: 1fr;
    padding-top: 50px;
    row-gap: 32px;
    
}
}