.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
  width: 690px;
  max-width: 100%;
 

}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    width: 100%;

  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;

  }
}
